<div class="row">
  <div class="col sm12">
    <div class="alert alert-primary">
      <% if @elections.present? %>
        <ul>
          <% @elections.each do |election| %>
            <li>
              <%= link_to election.name, election_path(election), class: "nav-link election-nav-link" %>
            </li>  
          <% end %>
        <ul>
      <% else %>
        There are no elections
      <% end %>
    </div>
  </div>
</div>