<div class="election" data-channel-subscribe="election" data-election-id="<%= @election.id %>">
  <div class="container">
    <div class="chart-container">
      <%= render partial: 'elections/chart' %>
    </div>
    <div id="election-form">
      <%=
        react_component('elections/election_form',
          election_id: @election.id,
          nominees: User.where.not(id: current_user.id),
          post_url: '/votes'
        )
      %>
    </div>
  </div>

</div>
