<% @users.each do |user| %>
  <% if(user.bid) %>
    <div class="flip-card flipped" style="display: inline-block">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= user.email %>
        </div>
        <div class="flip-card-back">
        <h1><%= user.bid %></h1>
        <p><%= user.email %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>