<div class="poker-table">
  <canvas id="confetti"></canvas>
  <div class="container">
    <h4 class="center">Scrum Poker</h4>
    <div id="poker-table-form">
      <%=
        react_component('poker_tables/poker_table_form',
          user_id: current_user.id,
        )
      %>
    </div>
    <div class="results-container">
      <%= render partial: 'poker_tables/results' %>
    </div>
  </div>
</div>

