<div class="poker-table">
  <div class="container">
    <h4 class="chart-header">Scrum Poker</h4>
    <div class="results-container row" style="background: url(<%= asset_path( 'poker_table.jpg' ) %>)">
      <%= render partial: 'poker_tables/results' %>
    </div>
    <div id="election-form">
      <%=
        react_component('poker_tables/poker_table_form',
          user_id: current_user.id,
        )
      %>
    </div>
  </div>
</div>