// Place all the styles related to the Elections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote-message {
  background-color: grey;
  border: 1px solid, grey;
  border-radius: 2px;
  color: white;
  padding: 5px;
}