@import "variables";
// Place all the styles related to the Elections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h5.vote-message-title {
  text-align: left;
}

.vote-message {
  background-color: $darkest;
  border: 1px solid $teal;
  border-radius: 2px;
  color: $teal;
  padding: 5px;
}
.chart-inner {
  position: relative;
}
.vote-logo {
    height: 140px;
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: -18%;
    margin: auto;
}