@import "variables";
// Place all the styles related to the Elections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h5.vote-message-title {
  text-align: left;
}

.election-form {
  select {
    display: block;
    margin-bottom: 5px;
  }
  .tab {
    overflow: hidden;
    .tablinks {
      background-color: inherit;
      border: 1px solid $teal;
      border-bottom: none;
      border-radius: 2px;
      color: $teal;
      cursor: pointer;
      float: right;
      outline: none;
      padding: 0 8px;
      transition: 0.3s;
    }
  }
  .tab .tablinks:hover {
    background-color: $teal;
    color: $dark;
  }
  .vote-message {
    background-color: $darkest;
    border: 1px solid $teal;
    border-radius: 2px;
    color: $teal;
    padding: 5px;
  }
}

.chart-inner {
  position: relative;
}
.vote-logo {
  height: 140px;
  margin: auto;
  display: block;
}


